html, body {
    height: 100%;
}
body {
    position: relative;
    padding-top: 70px;
    /*padding-bottom: 115px;*/
}
footer  {
    height: 115px;
    width: 100%;
    margin-bottom:0px !important;
    text-align:center;
    border-top: #d5d5d5;
}

.try-now h3 {
  color: #C0C0C0;
  font-family: 'Open Sans';
}

.try-now {
    width : 100%;
    text-align:center;
   /* margin-bottom: 115px; */
    padding:60px 50px;
    height:280px;
    background: #efefef !important;
}
footer .bottom { 
    height: 115px;
    padding : 10px;
    margin-bottom: none !important;
    background: #463e3a !important;
}
.try-now button {
  margin-top: 20px;
  background: #40a8de;
  border: none;
  text-transform: uppercase;
  padding: 15px 30px;
  border-radius: 5px;
}

.bottom-links li:last-child {
  border-right:none;
}

.bottom-links li {
  padding : 0px 0px;
  margin: 0px 10px;
  float:left;
  text-align:center;
}
.bottom-links li:not(:first-child):before {
   content: '|';
   color: #fff;
   margin-right: 20px;
   font-size: 14px;
   font-weight: 300;
   display: inline;
   height: auto;
   width: auto;
}
.bottom-links {
  display:block;
  width : 400px;
  font-size: 14px;
  font-family: "Arial";
  margin: 10px auto;
  text-align:center;
  padding : 0px;
  list-style: none;
}

.bottom-links li a:hover {
  text-decoration: none;
  color : #FFF !important;
}
.bottom-links li a, .copyrights {
  color : #FFF !important;
}
.copyrights {
  border-top : solid 2px #38322f;
  font-size: 12px;
  padding: 20px 10px;
  display:block;
  font-weight:bold;
  text-align:center;
 }

.try-now button a:hover {
  text-decoration: none;
  color : #FFF;
}
.try-now button a {
  color : #FFF;
  font-size: 18px;
  font-family: 'Open Sans'
}
.navbar-default {
    box-shadow: 0px 0px 5px #d9d9d9;
    background: #FFF !important;
    margin-bottom:0px !important;
    border-bottom:solid 1px #dadada;
    text-align:center;
    width:100%;
    height: 70px;
}
#bigpanda-docs-header {
}

#bigpanda-docs-header li, #bigpanda-docs-header li:hover {
    height: 69px;
}
#bigpanda-docs-header li.current-site ,  #bigpanda-docs-header li.current-site a, #bigpanda-docs-header li.current-site a:hover{
    color: #3fa7e2;
}
#bigpanda-docs-header li.current-site, #bigpanda-docs-header li.current-site a , #bigpanda-docs-header li:not(.get-started):hover{
    background: #F2F2F2;
}
#bigpanda-docs-header li a, #bigpanda-docs-header li a:hover{
    text-decoration : none;
    color: #7A7A7A;
}
#bigpanda-docs-header li a { 
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
}
.docs-title {
    margin:0px 0px 0px 0px;
    text-align:center;
    text-transform:uppercase;
    padding: 50px 0px;
    color:#505050;
    font-weight:200;
    font-family:'Open Sans';
    letter-spacing: 2px;
    background:#efefef;
}

footer {
    text-align:center;
}

#navigation {
    margin-top: 0px;
    transition: margin-top 0.2s ease-in-out;
}

#navigation.scrolled {
  margin-top: -140px;
}
#navigation .nav-list li:last-child , #navigation .subnav li:last-child{
    border-bottom:none !important;
}
#navigation .nav-list li, #navigation .subnav li {
    border-bottom: solid 1px #FAFAFA;
    height: 40px;
}
#navigation .nav-header {
    padding : 10px;
    font-weight:bold;
}
#navigation ul li.nav-header:first-child {
    border-top: solid 1px #f0f0f0;
}
.site-nav {
  background: #fff;
}

.site-nav .active {
   background:#F2F2F2;
}

.site-nav .active .subnav {
   background:#FFF;
}

.subnav .active {
   background:#F2F2F2;
}

.main {
    margin-top: 30px;
    min-height: 500px;
    position:relative;
}
.navbar-collapse.collapse.in {
    text-align:center;
    background:#31414a;
}
@media (min-width: 108px){
    .nav-center {
        position:auto;
        left:auto;
        text-align:center;
    }
    .nav-center li {
        float:none;
        display:block;
        padding : 0;
        margin:0px;
    }

    #bigpanda-docs-header li a{
        padding-left: 7px;
        padding-right: 7px;
    }
}

@media (min-width: 768px){
    .nav-center {
        position:absolute;
        left:25%;
        text-align:center;
    }
    .nav-center li {
        display:inline-block;
    }
}

@media (min-width: 924px){
    .nav-center {
        left:30%;
    }

    #bigpanda-docs-header li a{
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (min-width: 1050px){
    #bigpanda-docs-header li a{
        padding-left: 20px;
        padding-right: 20px;
    }
}


@media (min-width: 1500px){
    .nav-center {
        left:35%;
    }
    #bigpanda-docs-header li a{
        padding-left: 25px;
        padding-right: 25px;
    }
}

.get-started {
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
}
.get-started a {
    background: #eb6950;
    border-radius:5px;
    color: #FFF !important;
    padding: 10px 10px !important;
    margin-top: 5px;
}

.get-started a:hover {
    background: #d7533a!important;
}

#search-results {
    position:relative;
}

.search-wrapper {
  width:100%;
  padding-bottom: 10px;
  background : #FAFAFA;
  position:absolute;
  display: block;
  border: solid 1px #A4A4A4;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 1px 1px 1px #CACACA;
  z-index:199;
}

.search-wrapper p {
  border-bottom: solid 1px #f0f0f0;
  margin : 15px;
}

.search-result-link , .site-nav li {
    height: auto !important;
    text-overflow: ellipsis;
}

.search-wrapper li.active {
    background : #E9F5FF;
}

.subnav {
    display:none;
}

.active .subnav, .active + li.subitem .subnav {
    display:block;
}

.subnav li {
    margin-left : 15px;
}

.nav-active {
    font-weight: bolder;
}

.post-divider {
    border-top: solid 2px #FAFAFA;
    margin: 40px 0 40 0;
}

#content {
}

.index-post {
}
.integration-separator {
    float: left;
    width: 40px;
    margin-top: -5px;
}
.integration-number {
    width: 28px;
    height: 28px;
    border-radius: 28px;
    border: solid 2px #878787;
    color: #505050;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 24px;
    background-color: #fff;
}
