bp_white               = #ffffff
bp_gray_01             = #f9f9f9
bp_gray_02             = #efefef
bp_gray_03             = #dddddd
bp_gray_04             = #c7c7c7
bp_gray_05             = #b2b2b2
bp_gray_06             = #aeaeae
bp_gray_07             = #878787
bp_gray_08             = #505050
bp_gray_09             = #463e3a
bp_gray_10             = #312e2c
bp_gray_11             = #2a2a2a
bp_gray_12             = #191919
bp_blue_extra_light    = #b3dcf2
bp_blue_light          = #68bfec
bp_blue                = #40a8de
bp_blue_dark           = #1379af
bp_blue_extra_dark     = #166294
bp_orange              = #fbb116
bp_red                 = #e95c25
bp_green               = #acc537
bp_orange_light        = #ffe0a0
bp_red_light           = #ffd3d1
bp_green_light         = #dae79f
bp_ack_grey            = #cacdbf
bp_important_yellow    = #f7cb00
bp_notification_yellow = #fff6b6
bp_red_btn             = #eb6950
bp_red_btn_hover       = #ed7760
bp_red_btn_press       = #d7533a
