<nav class="navbar navbar-default navbar-bottom" role="navigation">
  <div class="container">
    <h3>Try the product right now!</h3>
    <button><a href="https://signup.bigpanda.io" target="_blank">Get a free account</a></button>
  </div>
</nav>
<nav class="navbar navbar-default navbar-bottom" role="navigation">
  <ul class="bottom-links clearfix">
    <li><a href="http://bigpanda.io/integrations" target="_blank">Integrations</a></li>
    <li><a href="http://bigpanda.io/about-us" target="_blank">About Us</a></li>
    <li><a href="http://blog.bigpanda.io" target="_blank">Blog</a></li>
    <li><a href="mailto:support@bigpanda.io?Subject=Contacting%20you%20regarding%20BigPanda" target="_blank">Contact us</a></li>
  </ul>
<div class="copyrights">
  <div class="custom">
    <p>All rights reserved to BigPanda 2014</p></div>

</div>
    </div>
</nav>
