<div class="container-fluid bottom">
  <ul class="bottom-links clearfix">
    <li><a href="http://bigpanda.io/integrations" >Integrations</a></li>
    <li><a href="http://bigpanda.io/about-us" >About Us</a></li>
    <li><a href="http://blog.bigpanda.io" >Blog</a></li>
    <li><a href="mailto:support@bigpanda.io?Subject=Contacting%20you%20regarding%20BigPanda" >Contact us</a></li>
  </ul>
  <div class="copyrights">
    <div class="custom">
      <p>All rights reserved to BigPanda 2014</p></div>
  </div>
</div>
