<div id="search">
    <form action="/search" method="get">
        <input type="text" class="form-control" id="search-query" name="q" placeholder="Search" autocomplete="off" autofocus />
    </form>
</div>
<section id="search-results" style="display: none;">
    <div class="search-wrapper">   
        <p>Search results</p>
        <ul class="entries nav nav-list">
        </ul>
    </div>

</section>
<div id="site-nav-wrapper">
    <ul class="nav nav-list site-nav" id="site-nav">
        {% unless page.url == '/index.html' %}
        {% assign prefix = site.baseurl | append: '/' %}
        {% endunless %}
        {% assign sorted_collections = '' | get_sorted_collections %}
        {% for collection in sorted_collections %}
            {% if collection.size == 0 %}
               {% continue %}
            {% endif %}
            <li class="nav-header col-item" data-col-ref="{{ collection.slug.href }}"><a href="{{ prefix }}#{{ collection.slug.href }}">{{ collection.slug.title}}</a></li>
            {% for doc in collection.docs %}
            <li class="doc-item" data-parent-col-ref="{{ collection.slug.href }}"><a href="{{ prefix }}#{{ doc.slug.href}}">{{ doc.slug.title}}</a></li>
                      {% if doc.headers %}
                      <li class="subitem" data-parent-col-ref="{{ collection.slug.href }}">
                          <ul class="nav subnav">
                            {% for header in doc.headers %}
                            <li class="doc-header-item"><a href="{{ prefix }}#{{header.href}}">{{header.title}}</a></li>
                            {% endfor %}
                        </ul>
                      </li>
                      {% endif%}
                  </li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
