<div class="index-post">
    {{ site.pages | where:"url","/index.html" | first | map: "content" | first | markdownify }}
</div>
<div class="post-divider"></div>
{% assign sorted_collections = '' | get_sorted_collections %}
{% for collection in sorted_collections %}
    {% if collection.size == 0 %}
       {% continue %}
    {% endif %}
    <h2 id="{{collection.slug.href}}">{{ collection.slug.title }}</h2>
    <div class="category-divider"></div>
    {% for doc in collection.docs %}
        <h3 id="{{ doc.slug.href }}" >{{ doc.slug.title }}</h3>
    <div class="post-content">
        {{ doc.content | markdownify | replace_section_separator | replace_media_links | replace_include_in_integration_guide }}
    </div>
    <div class="post-divider"></div>
    {% endfor %}
{% endfor %}
