{% assign navLinks = "Product,http://www.bigpanda.io|Integrations,http://bigpanda.io/integrations|Docs|Blog,http://blog.bigpanda.io|About Us,http://bigpanda.io/about-us" | getNavLinksArray %}{% assign gitTag = '' | git_tag %}<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ site.title }}{% if page.title %} : {{ page.title }}{% endif %}</title>
<meta name="description" content="{{ page.title }}">
<meta property="og:image" content="//dq1o3g1glajna.cloudfront.net/website-image.png" />
<link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.ico?v={{ gitTag }}" type="image/x-icon">
<link rel="icon" href="{{ site.baseurl }}/img/favicon.ico?v={{ gitTag }}" type="image/x-icon">
<link href='//fonts.googleapis.com/css?family=Open+Sans:700,400,300' rel='stylesheet' type='text/css'>
<link href='{{site.baseurl}}/css/bp-font.css?v={{ gitTag }}' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css?v={{ gitTag }}">
<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css?v={{ gitTag }}">
<meta property="og:url" content="http://docs.bigpanda.io/" />
<meta property="og:title" content="BigPanda Documentation" />
<meta property="og:type" content="article" />
<meta property="og:description" content="BigPanda Documentation - {{ page.title }}" />
<meta name="description" content="BigPanda Documentation - {{ page.title }}" />
{% include tracking.html %}
</head>
<body data-baseurl="{{site.baseurl}}" data-spy="scroll" data-target="#site-nav-wrapper" data-offset="5">
{% include header.html %}
<h1 class="docs-title">
    docs
</h1>
<div class="container main">
        <div id="navigation" class="col-md-2 hidden-sm visible-md-block visible-lg-block affix">
            {% include navigation.html %}
        </div>

    {% assign prefix = site.baseurl | append: '/' %}
        <div id="content" class="col-lg-9 col-md-8 col-md-offset-3">
            {% assign sorted_collections = '' | get_sorted_collections_filter %}
             <div class="mobile-headers hidden-lg hidden-md visible-sm-block visible-xs-block"> 
            {% for collection in sorted_collections %}

            <a class="mobile-header" href="{{ prefix }}{{ collection.name }}/index.html">{{ collection.slug.title}}</a>
            {% endfor %}
            </div>
            {{ content }}
        </div>
</div>
<div class="container try-now">
    <h3>Try the product right now!</h3>
    <button><a href="https://signup.bigpanda.io" target="_blank">Get a free account</a></button>
</div>
<footer class="footer" role="navigation">
    {% include footer.html %}
</footer>
<script src="{{ site.baseurl }}/js/search.min.js?v={{ gitTag }}"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% raw %}
<script id="search-results-template" type="text/mustache">
{{#entries}}
    <li class="search-result-link">
        <a href="{% endraw %}{{ site.baseurl }}{% raw %}{{slug}}">{{title}}</a>
    </li>
  {{/entries}}
</script>
{% endraw %}
<script type="text/javascript" src="{{ site.baseurl }}/js/docs.js?v={{ gitTag }}">
</script>
</body>
</html>
